

#wholeDiv {
    width: 100%;
}

#leftDiv {
    width: 40%;
    float: left;
    // padding: 10px;
}

#rightDiv {
    width: 40%;
    float: right;
    padding: 10px;
}

#centerDiv {
    clear: both; 
}