<br>
<br>
<mat-toolbar>Building Details</mat-toolbar>

<!-- this is the link for editing a building -->
<button mat-icon-button>
    <mat-icon><a routerLink="/building-edit" routerLinkActive="active">edit</a></mat-icon>
</button>
<mat-divider></mat-divider> 

<div id="wholeDiv">
    <div id="leftDiv">

        <!-- these are material cards for the building details -->
        <h2>Name</h2>
        <div>
            <mat-card>
                <mat-card-content id="name">
                    {{ this.currentBuilding.name }}
                    
                </mat-card-content>
            </mat-card>
        </div>
        <br>
        <mat-divider></mat-divider>
        <h2>AbbrvName</h2>
        <div>
            <mat-card>
                <mat-card-content id="AbbrvName">
                    {{ this.currentBuilding.abbrName }}

                </mat-card-content>
            </mat-card>
        </div>
        <br>
        <mat-divider></mat-divider>
        <h2>Physical Address</h2>
        <div>
            <mat-card>
                <mat-card-content id="Address">
                    {{ this.currentBuilding.physicalAddress.address }}
                    <!-- this will most likely change when we talk to the backend -->
                </mat-card-content>
            </mat-card>
        </div>
        <br>
        <mat-divider></mat-divider>
        <h2>Training Lead</h2>
        <div>
            <mat-card>
                <mat-card-content id="trainingLead">
                    {{ this.currentBuilding.trainingLead.username }}
                    <!-- this will most likely change when we talk to the backend -->

                </mat-card-content>
            </mat-card>
        </div>

    </div>

    <div id="tables">

        <h2>Rooms</h2>


        <table mat-table [dataSource]="rooms" class="mat-elevation-z8">

            <!-- column names here are irrelevant. they come from angular tutorial on material tables -->
            <!-- Position Column -->
            <ng-container matColumnDef="roomNumber">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> <button mat-raised-button>{{element.id}} </button></td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="maxOccupancy">
                <th mat-header-cell *matHeaderCellDef> max Occupancy </th>
                <td mat-cell *matCellDef="let element"> {{element.maxOccupancy}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="currentStatus">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.currentStatus.test}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


        <br>

        <h2>Amenities</h2>

        <table mat-table [dataSource]="amenities" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumnsAmenities"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAmenities;"></tr>
        </table>
    </div>
</div>