@import './employee-detail-view/employee-detail-view.component.scss';
@import './tsm-dashboard/tsm-dashboard.component.scss';
@import './navbar/navbar.component.scss';
@import '../color';


.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    //border-spacing: 10px; /*Optional*/
}
.Column {
    display: table-cell;
    //height: 100vh;
    //vertical-align: top;
    // background-color: red; /*Optional*/
}

.sideNav {
    width: 100%;
    color: $orange;
    // height: 30px;
    //position: fixed;


}

mat-sidenav {
    width: 10rem;
    position: fixed;
    //border: 0px;
    height: 100vh;
    
}

 router-outlet {
     padding: 2rem;
 }

 button {
    position: fixed;
    z-index:1;
 }

//.mat-drawer-inner-container {
//    overflow: hidden;
//}