

<!-- <app-tsm-dashboard></app-tsm-dashboard> -->

<app-building-details></app-building-details>
<!-- <div class="Row">
    <div class="Column sideNav">
        <app-navbar></app-navbar>
    </div>
    <div class = "Column">
        <router-outlet></router-outlet>
    </div>
</div> -->

<!-- <mat-sidenav-container>
    <mat-sidenav  mode = "side" [(opened)]="opened">
        <app-navbar></app-navbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <button  (click)="opened=!opened">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/></svg>
        </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
