<mat-toolbar>Campus</mat-toolbar>

<br>

<div *ngFor="let item of campuses let num = index">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-subtitle>School ID:{{item.id}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://200727-java-ng-usf-gu.s3.us-east-2.amazonaws.com/usf.jpg
  " alt="Photo ofSchool">
  <mat-card-content>
    <p>abbrName: {{item.abbrName}}</p>
    <p>shippingAddress: {{item.shippingAddress.test}}</p>
    <p>trainingManager: {{item.trainingManager.test}}</p>
  </mat-card-content>
</mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>



<mat-toolbar>All Buildings </mat-toolbar>
<table mat-table  class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> build No. </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button>build #1  </button></td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="build1">
      <th mat-header-cell *matHeaderCellDef> build name </th>
      <td mat-cell *matCellDef="let element"> build </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="build2">
      <th mat-header-cell *matHeaderCellDef> build </th>
      <td mat-cell *matCellDef="let element"> build </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="build3">
      <th mat-header-cell *matHeaderCellDef> build </th>
      <td mat-cell *matCellDef="let element"> build </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
