<h1>Employee Details</h1>
<h2>ID</h2>
<div id="wholeDiv">
    <div id="leftDiv">
        <div>
            <mat-card>
                <mat-card-header>
                    <mat-card-content id="number">
                        {{ this.currentEmployee.id }}
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
        <br>
        <mat-divider></mat-divider>
        <h2>first name</h2>
        <div>
            <mat-card>
                <mat-card-header>
                    <mat-card-content>
                        {{ this.currentEmployee.firstName }}
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
        <br>
        <mat-divider></mat-divider>
        <h2>last name</h2>
        <div>
            <mat-card>
                <mat-card-header>
                    <mat-card-content>
                        {{ this.currentEmployee.lastName }}
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
        <br>
        <mat-divider></mat-divider>
        <h2>email</h2>
        <div>
            <mat-card>
                <mat-card-header>
                    <mat-card-content>
                        {{ this.currentEmployee.email }}
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
        <h2>title</h2>
        <div>
            <mat-card>
                <mat-card-header>
                    <mat-card-content>
                        {{ this.currentEmployee.title }}
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
        <h2>department</h2>
        <div>
            <mat-card>
                <mat-card-header>
                    <mat-card-content>
                        {{ this.currentEmployee.department }}
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>

